body{
    position: relative;
    background: url(../assets/bg.png) no-repeat bottom center;
    text-align: center;
    min-height: 1000px;
    
}

a {
  text-decoration: none;
}

.x-0{

  margin-top:110px;
  margin-left: 60px;
  float: left;

  font-family: 'Bevan', cursive;
  color: #fff;
  font-size: 110px;

  text-align: center;
}
.x-100{
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    width: 18%;
    margin-top:10px;
    margin-left: 60px;
    float: left;

    font-family: 'Bevan', cursive;
    color: #fff;
    font-size: 120px;

    text-align: center;
  }
  .x-200{
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    width: 10%;
    margin-top:10px;
    margin-left: 10px;
    float: left;

    font-family: 'Bevan', cursive;
    color: #fff;
    font-size: 120px;

    text-align: center;
  }
  .x-300{
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    width: 18%;
    margin-top:10px;
    margin-left: 10px;
    float: left;

    font-family: 'Bevan', cursive;
    color: #fff;
    font-size: 120px;

    text-align: center;
  }
  .x-400{
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    width: 18%;
    margin-top:10px;
    margin-left: 10px;


    font-family: 'Bevan', cursive;
    color: #fff;
    font-size: 120px;

    text-align: center;
  }
  .z-100{
    margin-top:11px;
    margin-left: 60px;
    float: left;

    font-family: 'Bevan', cursive;
    color: #fff;
    font-size: 120px;

    text-align: center;
  }

  .z-200{
    font-family: 'Pacifico', cursive;
    font-size: 150px;
    /* float: left; */
    color: #fff;
  }

  .z-300{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-left: 550px;
    margin-top: -210px;;
    color: #fff;
    float: left;
  }
